# Python
__pycache__/

# Database
*.sqlite

# VS Code Workspace
.vs/*
.vscode/*
# Local History for Visual Studio Code
.history/

# Keys
chiave

# IDEA
/.idea/
*.iml

# People detection
Data_base.xls
summary/
database.csv