{% extends "deviceoverview.html" %}

{% block table%}
<p class="text-md-center" style="margin-top: .9em;">Click on a row in the following table to manually input data to change your actuator values.</p>
<table class="table table-bordered table-hover table-sm">
		<tr>
			<th> Bridge id </th>
			<th> Local id </th>
			<th> Datatype </th>
		{% for device in devices %}
		<tr>
			<td onclick="window.location='{{url_for('actuating', actuator_id=device.id)}}';">{{device.bridge_id}}</td>
			<td onclick="window.location='{{url_for('actuating', actuator_id=device.id)}}';">{{device.local_id}} </td>
			<td onclick="window.location='{{url_for('actuating', actuator_id=device.id)}}';">{{device.datatype}}</td>
		</a>
		</tr>
	{% endfor %}
		
</table>
{% endblock %}