{% extends "base.html" %}
{% block title %}IoT Shopmaker{% endblock %}

{% block header %} 
	<h3>Actuator {{actuator.local_id}} of Bridge {{actuator.bridge_id}} <small class="text-muted">Here you can change actuator values manually </small> 
	</h3>
{% endblock %}

{% block content %}
	<p class="text-md-center">If the chosen actuator is able to be manipulated manually then here is the view and the corresponding handles to change the values of the actuator. </p>

	{% if actuator.datatype == 'string'	%}
	<script type="text/javascript">console.log('{{actuator.last_value}}')</script>
	<form method="post" action="{{url_for('actuate', actuator_id=actuator.id)}}" style="margin-left: .5em;">
		  <label for="value">Enter a number:</label>
		  <input type="string" id="value" name="value" min="1" max="5" value="{{actuator.last_value}}">
		  <input type="submit" class="btn btn-secondary">
	</form>
	{% endif %}

	{% if actuator.datatype == 'heater' %}
	<p class="text-lg-center font-weight-bold"> Write "0" (zero) in order to turn off the heating and "1" (one) in order to turn it on </p>
	<script type="text/javascript">console.log('{{actuator.last_value}}')</script>
	<form method="post" action="{{url_for('actuate', actuator_id=actuator.id)}}" style="margin-left: .5em;">
		<div class="input-group mx-auto" style="width: 500px">
		  <input type="string" id="value" name="value" value="{{actuator.last_value}}">
		  <input type="submit" class="btn btn-secondary">
		</div>
	</form>
	{% endif %}

<form action="{{url_for('actuatorOverview')}}">
	<button type="submit" class="btn btn-outline-secondary center" style="margin-left: .5em">
	        Go back to actuator overview
	    </button>
</form>
	
{% endblock %}
